# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
# data/*.csv